# Logs
*.log

# frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# backend
backend/__pycache__/
*__pycache__*
.venv